.infoCardContainer {
  display: flex;
}
.dashboardContent {
  background-color: var(--dashboard-bg);
  /* top and bottom 40 px , 20 px left and right */
  padding: 40px 20px;
}

.styles.dashboardContentContainer {
  max-width: var(--site-width);
  margin: 0 auto;
}
