body {
  margin: 0;
  font-family: "coolvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "coolvetica";
  src: local("coolvetica"), url(./fonts/coolvetica-rg.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --header-gradient-top: #38a8c3;
  --header-gradient-bottom: #2a7fa0;
}
